[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
pyserde = {extras = ["all"], version = "*"}
colorama = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
